* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #000;

}

a {
    text-decoration: none;
}

button {
    padding-top: 10px;
    font: inherit;
}

.bg-lines {
    position: fixed;
    z-index: -1;
    inset: 0;
    stroke: white;
    background:
        #000;
    opacity: 0.25;
}

.bg-lines svg {
    width: 100%;
    height: 100%;
    display: block;
}

.enter-button {
    font-family: inherit;
    background-color: #ffffff;
    color: #000000;
    padding: 12px 24px;
    border: none;
    border-radius: 9999px;
}

.enter-button:hover {
    background-color: #454545;
    cursor: pointer;
    transition: transform .05s ease, background .2s ease;
    transform: translateY(-1px);
    box-shadow: #555 0px 4px 10px;
}

.enter-button:active {
    transform: translateY(1px);
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

.landing-title {
    font-size: 48px;
    margin-bottom: 20px;
}

.landing-container p {
    font-size: 18px;
    margin-bottom: 40px;
}

.nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 15px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    position: fixed;
    box-shadow: #555 0px 4px 8px;
}

.nav .links {
    display: flex;
    gap: 20px;
    margin-left: 5px;
}

.nav .links a {
    color: #b4b4b4;
    border-radius: 10px;
    padding: 8px 10px;
}

.nav .links a:hover {
    color: #fff;
    background: #292929;
    transition: transform .05s ease, background .2s ease;
}